* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-container {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../assets/images/valentine-s-day-digital-art-with-romantic-couple_23-2151164297.avif');
  background-color: #0b0b0b;
}

.video-1 {
  width: 400px;
  height: 400px;
  margin: 0px 0px 10px 0px;
}

video {
  width: 400px;
  height: 400px;
}

.main-text {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  padding: 20px 0px 0px 0px;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.span-2 img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 100%;
}

.first-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-image: url('../assets/images/valentine-s-day-digital-art-with-romantic-couple_23-2151164297.avif');
}

.img-1 {
  display: flex;
  justify-content: center;
}

.img-1 img {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

.img-2 {
  display: flex;
  justify-content: center;
}

.img-2 img {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

.img-3 {
  display: flex;
  justify-content: center;
}

.img-3 img {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

.img-4 {
  display: flex;
  justify-content: center;
}

.img-4 img {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

.img-5 {
  display: flex;
  justify-content: center;
}

.img-5 img {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

.img-6 {
  display: flex;
  justify-content: center;
}

.img-6 img {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

.img-7 {
  display: flex;
  justify-content: center;
}

.img-7 img {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

.img-8 {
  display: flex;
  justify-content: center;
}

.img-8 img {
  width: 220px;
  height: 220px;
  object-fit: contain;
}

footer {
  width: 100%;
  font-size: 10px;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
  animation-name: footer;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: rgb(222, 95, 116);
}
@keyframes footer {
  from {
    top: 0px;
  }

  to {
    top: 0px;
    color: aqua;
  }
}

footer img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  border-radius: 100%;
  margin: 40px 0px 20px 0px;
  position: relative;
  animation-name: footericonhealt;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes footericonhealt {
  from {
    left: -170px;
    width: 100px;
    height: 100px;
  }

  to {
    left: 170px;
    width: 170px;
    height: 170px;
  }
}

.video-2 {
  margin: 20px 0px 10px 0px;
}

.span-1 {
  position: relative;
  animation-name: tako;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes tako {
  from {
    top: -50px;
  }

  to {
    top: 60px;
    border-radius: 100px;
    padding: 10px;
    color: rgb(37, 37, 217);
    background-color: rgb(195, 41, 92);
  }
}

.span-3 {
  position: relative;
  animation-name: merabi;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes merabi {
  from {
    top: -50px;
  }

  to {
    top: 60px;
    border-radius: 100px;
    padding: 20px;
    color: greenyellow;
    background-color: rgb(195, 41, 92);
  }
}

.main-container img {
  border-radius: 100px;
}

.first-section img {
  position: relative;
  animation-name: imganimation;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes imganimation {
  from {
    width: 200px;
    height: 200x;
  }

  to {
    width: 225px;
    height: 225px;
  }
}

.maintext {
  max-width: max-content;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  position: relative;
  animation-name: headtext;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes headtext {
  from {
    left: 0px;
    font-size: 14px;
  }

  to {
    left: 99px;
    border-radius: 100%;
    font-size: 16px;
    background-color: chocolate;
  }
}

.video-3 {
  width: 400px;
  height: 400px;
  margin: 30px 0px 20px 0px;
}

.video-4 {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/images/valentine-s-day-digital-art-with-romantic-couple_23-2151164297.avif');
}
